
.pages{
	float:left;
	width: 100%;
}
.paginator{
	font-size : 12px;
	margin:10px auto;
	padding-top : 10px;
}

.paginator a, .currentPage{
	background : #FFFFFF none repeat scroll 0%;
	border : 1px solid #DDDDDD;
	padding: 2px 6px;
	margin: 2px;
	text-decoration: none;
}

.paginator a:hover{
	text-decoration: none;
	background: #efecec;
}

.currentPage{
	color: #e31212;
	font-weight: bold;
}

.results{
	color: #bdb6b6;
	margin: 10px auto;
}

.prev, .next{margin: 0pt 5px;}

ul.youtubevideos {list-style:none; width:100%;}
	.typography  .youtubevideos li{margin:10px 5px; float:left;}
	.youtubevideos li img{
			border:none;
			padding: 2pt;
	}
	.youtubevideos li .still{
		float:left;
		width: 150px;
	}
	.typography .youtubevideos li .info{
			float: left;
			width: 430px;
			margin:0 5px;
	}
	.typography .youtubevideos li .info h6{
			margin:2px 0;
	}
	.typography .youtubevideos li .info{
			font-size: 80%;
	}
